<h1>🐘
    <e-text-select class="start-num" style="font-size:20px;">
        <option value="0" data-lang-key="label-batter-num-1">
            1번 타자
        </option>
        <option value="1" data-lang-key="label-batter-num-2">
            2번 타자
        </option>
        <option value="2" data-lang-key="label-batter-num-3">
            3번 타자
        </option>
        <option value="3" data-lang-key="label-batter-num-4">
            4번 타자
        </option>
        <option value="4" data-lang-key="label-batter-num-5">
            5번 타자
        </option>
        <option value="5" data-lang-key="label-batter-num-6">
            6번 타자
        </option>
        <option value="6" data-lang-key="label-batter-num-7">
            7번 타자
        </option>
        <option value="7" data-lang-key="label-batter-num-8">
            8번 타자
        </option>
        <option value="8" data-lang-key="label-batter-num-9">
            9번 타자
        </option>
    </e-text-select>
    <e-text key="label-big-inning-start">빅이닝</e-text>:
    <input type="number" class="goal-run" value="3" step="1" min="0" style="max-width: 50px;">
</h1>
<hr>
<div class="result">
</div>